flask
gunicorn
pandas
numpy
python-dateutil
prophet
ujson
flask-cors
scikit-learn
plotly

langchain
langchain-community
langchain-google-genai

chromadb
pypdf
unstructured
pdfminer.six
python-dotenv

langchain-huggingface
sentence-transformers
transformers
torch
huggingface-hub
google-genai

