flask
gunicorn
pandas
numpy
python-dateutil
prophet
ujson
flask-cors
scikit-learn
plotly

langchain
langchain-community
langchain-google-genai
langchain-huggingface

chromadb
pypdf
unstructured
pdfminer.six
python-dotenv

google-genai

